<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <typeAliases>
      <typeAlias type="com.couponPeople.app.user.dao.UserBean" alias="userBean"/>
      <typeAlias type="com.couponPeople.app.user.dao.CatagoryBean" alias="catagoryBean"/>
      <typeAlias type="com.couponPeople.app.coupon.dao.CouponBean" alias="couponBean"/>
      <typeAlias type="com.couponPeople.app.trade.dao.TradeBean" alias="tradeBean"/>
      <typeAlias type="com.couponPeople.app.comment.dao.CommentBean" alias="commentBean"/>
      <typeAlias type="com.couponPeople.app.review.dao.ReviewBean" alias="reviewBean"/>
   </typeAliases>
   
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
     <mapper resource="com/couponPeople/sql/user.xml"/>
     <mapper resource="com/couponPeople/sql/coupon.xml"/>
     <mapper resource="com/couponPeople/sql/trade.xml"/>
     <mapper resource="com/couponPeople/sql/comment.xml"/>
     <mapper resource="com/couponPeople/sql/review.xml"/>
  </mappers>
  
</configuration>